/**
 * Navigation
 * ----------------------------------------------------------------------------
*/
html{
	&[lang='ru']{
		.lang-menu a{
			&.ru{
				font-family: "rb";
			}
		}
	}
	&[lang='en']{
		.lang-menu a{
			&.en{
				font-family: "rb";
			}
		}
	}
}
header{
	nav.main-navigation{
		display: inline-block;
		margin-left: 10px;
		margin-top: 24px;
		// float: right;
		margin-right: 90px;
		width: 535px;
		overflow: hidden;
		a, span{
			text-transform: uppercase;
			font-size: 15px;
			line-height: 17px;
			font-family: "rb";
		}
		button.menu-toggle{
			display: none;
		}
		.local-block{
			text-align: right;
			margin-bottom: 3px;
			ul{
				li{
					display: inline-block;
					font-family: "rt";
					a{
						width: 50px;
						height: 32px;
						font-size: 14px;
						line-height: 16px;
						color: $black;
						font-family: "rr";
						// &.ru{
						// 	background: url("../images/flag_russia.svg") center no-repeat;
						// }
						// &.en{
						// 	background: url("../images/flag_uk.svg") center no-repeat;
						// }
						&:hover, &:active{
							font-family: "rb";
						}
					}
				}
			}
		}
		.menu-block{
			display: inline-block;
			float: right;
			& > ul{
				li{
					margin-right: 10px;
					display: inline-block;
					height: 50px;
					&:last-child{
						margin-right: 0;
					}
					&:hover a, &.current span{
						color: $white;
					}
					&:hover{
						& > ul.menu_level_1{
							display: block;
						}
					}
					& > ul.menu_level_1{
						display: none;
						height: auto;
						background-color: $green1;
						position: absolute;
						z-index: 100001;
						margin-top: 0px;
						padding-top: 5px;
						& > li{
							display: block;
							padding: 5px 10px;
							height: 30px;
							a, span{
								display: block;
								width: 100%;
								max-width: 120px;
								height: auto;
								white-space: nowrap;
								overflow: hidden;
								text-overflow: ellipsis;
								color: $black;
							}
							&:hover{
								a{
									color: $white;
								}
							}
							span{
								color: $white;
							}
						}
					}
				}
			}
		}
		div.login{
			width: 100%;
			text-align: right;
			margin-top: -28px;
			float: right;
			a{
				font-size: 12px;
				font-family: "rr";
				&:hover{
					color: $white;
				}
			}
			span{
				font-size: 12px;
				color: $white;
				display: inline-block;
				margin-right: 5px;
			}
		}
		&:after{
			content: ' ';
			display: block;
			clear: both;
		}
	}
}

footer{
	nav.footer-nav{
		margin-left: 84px;
		margin-top: 10px;
		a, span{
			color: $grey;
			font-family: "rr";
			vertical-align: top;
		}

		& > ul{
			li{
				height: 30px;
				line-height: 30px;
				&:hover a, &.current span{
					color: $white;
				}
				& > ul.menu_level_1{
					display: inline-block;
					vertical-align: top;
					// width: 460px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					&:before{
						content: '►';
						font-size: smaller;
						vertical-align: top;
					}
					& > li{
						display: inline-block;
						margin-right: 5px;
						a{
							color: $grey;
							font-family: 'rt';
							&:hover{
								color: $white;
							}
						}
					}
				}
			}
		}
	}
}

nav{
	&.sub-category, &.left-menu{
		font-family: 'rt';
		font-size: 26px;
		line-height: 29px;
		text-transform: uppercase;
		margin-bottom: 40px;
		margin-top: -10px;
		ul{
			li{
				display: inline-block;
				margin-right: 10px;
				vertical-align: top;
				height: 50px;
				a, span{
					display: inline-block;
					padding: 10px;
					border-bottom: 4px solid $white;
				}
				&.current span, &.current a, a:hover, a.current{
					border-bottom: 4px solid $green1;
					background-color: $green2;
					color: $white;
				} 
				&:after{
					content: '•';
					margin-left: 10px;
					font-size: 24px;
					color: $green1;
					font-family: Verdana, Geneva, sans-serif;
				}
				&:last-child{
					&:after{
						content: '';
					}
				}
			}
		}
	}

	&.left-menu{
		ul{
			li{
				display: block;
				margin-left: -20px;
				margin-right: 0;
				&:after{
					content: '';
				}
				a, span{
					width: 95%;
					padding-left: 20px;
					padding-right: 20px;
				}
			}
		}
	}
}


