/**
 * Profile
 * ----------------------------------------------------------------------------
 */
.profile{
	.user-avatar{
		width: 25%;
	}
	ul.user-props{
		margin-top: 20px;
		li{
			margin-top: 10px;
		}
	}
}